# Supabase
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# Anchor (getanchor.co) BaaS
VITE_ANCHOR_API_KEY=xUU6A.f3da303809d6b48919691fe36a5e3f0207e481990870d5b0e96fcea9e9c883ebd4daa998ef2a7070addc46dadb9a5939641c$1010
VITE_ANCHOR_BASE_URL=https://api.sandbox.getanchor.co/v1

# Maintenance mode
VITE_MAINTENANCE_MODE=false